.regionRow {
  display: flex;
  justify-content: center;
  margin: 20px 0px 0px 20px;
}
.main_popularPlace {
  margin-left: 8px;
}
.main_allViewBtn {
  margin-top: 50px;
}
.main_foot {
  margin-top: 50px;
}
