.PopularPlacesSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.PopularPlacesSection_header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.PopularPlacesSection_filters {
  display: flex;
  gap: 20px;
}
.PopularPlacesSection_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개 */
  gap: 32px;
  justify-items: center;
  margin-top: 40px;
  max-width: 1000px;
  margin-right: auto;
  margin-left: 5px;
}
