.SideBar {
  position: absolute;
  top: calc(100% + 2px); /* 버튼 바로 아래 */
  right: 0;

  width: 250px;
  background: white;
  border: 1px solid #e6e6e6;
  border-radius: 12px;

  z-index: 2000;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}

/* 16인치 노트북 전용 */
@media screen and (max-width: 1600px) {
  .SideBar {
    right: -20px;
  }
}
/* 태블릿 */
@media screen and (max-width: 900px) {
  .SideBar {
    right: -20px;
  }
}

/* 모바일 */
@media screen and (max-width: 600px) {
  .SideBar {
    right: 110px;
    transform: translateX(50%);
  }
}

/* 상단 로그인/회원가입 버튼 영역 */
.SideBar_AuthBtn {
  margin-top: 10px;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 10px;
  padding: 6px 0;
}

/* 하단 메뉴 영역 */
.SideBar_content {
  width: 100%;
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}

.SideBar_content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.SideBar_content li {
  padding: 15px 20px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-weight: 500;
}

.SideBar_content li:hover {
  background-color: #f8f8f8;
}
.logout-button {
  width: 100px;
  padding: 5px;
  border: none;
  background-color: #ffa3a3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
