.Header {
  height: 90px; /* 헤더 높이 고정 */
  padding: 0 20px;
  display: flex;
  align-items: center;
  background: #fff;
  top: 0;
  z-index: 1000;
  border-bottom: 1.5px solid rgb(234, 234, 234);
}

.Header > div {
  display: flex;
}

.Header .header_left {
  justify-content: flex-start;
  width: 25%;
  margin-left: 10px;
}

.Header .header_left img {
  width: 80px;
  cursor: pointer;
}

.Header .header_right {
  margin-left: auto; /* 오른쪽으로 밀기 */
  display: flex;
  gap: 11px;
  align-items: center;
  justify-content: flex-end;
  margin-top: 50px;
}
.header_right_right {
  cursor: pointer;
}

.header-profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
