.CalendarAddEvent {
  background-color: #fff;
  font-family: "Pretendard", sans-serif;
  color: #333;
}

/* 🔹 헤더 스타일 */
.CalendarAddEvent_header {
  background-color: #fcc2c2;
  padding: 10px 16px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.CalendarAddEvent_header-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: opacity 0.2s, transform 0.1s;
}

.CalendarAddEvent_header-btn:hover {
  opacity: 0.8;
  transform: translateY(-1px);
  text-decoration: underline;
}

.CalendarAddEvent_header-btn.active {
  font-weight: 800;
}

.CalendarAddEvent_divider {
  color: #fff;
  opacity: 0.9;
}

/* 🔹 폼 스타일 */
.CalendarAddEvent_form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  padding: 12px;
}

.CalendarAddEvent_form label {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  justify-content: flex-start;
}

.CalendarAddEvent_input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px 14px;
  font-size: 16px;
  width: 90%;
  margin-bottom: 10px;
  height: 30px;
}

.CalendarAddEvent_date-group {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.CalendarAddEvent_date-group input,
.CalendarAddEvent_date-group select {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 10px;
}

.CalendarAddEvent_textarea {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 10px;
  resize: none;
  height: 130px;
  font-size: 16px;
}

.CalendarAddEvent_buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* 🔹 버튼들 */
.save-btn {
  background-color: #fcc2c2;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.save-btn:hover {
  background-color: #fcc2c2;
}

.cancel-btn {
  background-color: white;
  color: #444;
  border: 1px solid #ccc;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.cancel-btn:hover {
  background-color: #fcc2c2;
}

@media (max-width: 540px) {
  .CalendarAddEvent {
    width: 90%;
  }
}
