.CalendarEventModal {
  position: fixed;
  background-color: #fff;
  border: 1px solid #ccc;

  box-shadow: 0 4px 8px rgba(177, 177, 177, 0.1);
  width: 400px;
  max-width: 90%;
  padding: 0 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}
.CalendarEventModal_title {
  border-bottom: 1px solid #cecece;
  display: flex;
  align-items: center;
  gap: 10px;
}
.CalendarEventModal_title h3 {
  left: auto;
}
.CalendarEventModal_content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}
.CalendarEventModal_content_item {
  display: flex;
  gap: 15px;
}
.CalendarEventModal_content_item label {
  margin-left: 20px;
  font-weight: 400;
  color: #8a8a8a;
}
.CalendarEventModal_content_item p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  width: 320px;
}

.CalendarEventModal_actions {
  display: flex;
  justify-content: center;
  gap: 13px;
  margin-top: 20px;
  margin-bottom: 13px;
}
.CalendarEventModal_title_img {
  width: 28px;
  height: 28px;
  margin-left: 10px;
}
