.CalendarEventModaBtn {
  border: none;
  width: 50px;
  height: 30px;
  padding: 7px 10px;
  font-size: 15px;
  font-weight: 500;
  background-color: #f5f5f5;
  border: 1px solid #bcbcbc;
  color: #797979;
  cursor: pointer;
}
.CalendarEventModaBtn_pink {
  border: none;
  width: 100px;
  background-color: #fcc2c2;
  color: white;
}
