.ActionButton {
  border: none;
  width: 120px;
  height: 36px;
  font-size: 20px;
  background-color: #ffa3a3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  line-height: 36px;
}
.ActionButton_ghost {
  border: 1px solid #ababab;
  background-color: #efefef;
  color: black;
}
