.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* 살짝 투명한 검정 배경 */

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* 항상 맨 위 */
}

.AlterModal {
  width: 380px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 900;
  background-color: white;
  position: relative;
  top: -40px;
}
.AlterModal img {
  margin-top: 10px;
  width: 65px;
}
.AlterModal_content h4 {
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-weight: 400;
  margin-top: 10px;
}
.AlterModal_content h6 {
  padding: 0;
  padding-top: 6px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #828282;
}
.AlterModal_button {
  margin-top: 15px;
  padding-bottom: 15px;
  display: flex;
  gap: 15px;
  justify-content: center;
}
