.PlaceCard {
    width: 250px;
    cursor: pointer;
}
.PlaceCard_image{
    width: 230px;
    height: 300px;
    border-radius: 10px;
}

.PlaceCard_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 10px 0 0 10px;
}

.PlaceCard_content h3, p{
    margin: 0;
}

.PlaceCard_title{
  font-size: larger;
}

.PlaceCard_price{
    font-size: x-large;
}