.PromoBanner{               
    overflow: hidden; 
    border-radius: 10px;
    cursor: pointer;
    height: 180px;

}

.PromoBanner_img{
    height: 100%;
}

.PromoBanner_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;       
    display: block;
}