/* ====== Region Card ====== */
.RegionCard {
  width: 100%;
  cursor: pointer;
  max-width: 180px;
  transition: transform 0.2s ease;
}

.RegionCard:hover {
  transform: translateY(-3px);
}

/* ====== Card Box ====== */
.RegionCard_box {
  border-radius: 10px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.RegionCard_box:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

/* ====== Image ====== */
.RegionCard_img img {
  width: 100%;
  max-width: 80px;
  aspect-ratio: 4 / 5;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

/* ====== Name ====== */
.RegionCard_name h4 {
  margin-top: clamp(8px, 1.5vw, 12px);
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 600;
  text-align: center;
}
