.after-wrap {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  width: 100%;
  padding: 30px 40px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profile-box {
  text-align: center;
}

.profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-text {
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
}

.heart {
  font-size: 50px;
}
.breakBtn-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/* 커플 끊기 버튼 스타일 */
.break-btn {
  background: #eee;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s ease;
}

.break-btn:hover {
  background: #d8d8d8;
}
