.couple-connect-top h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 22px;
}
.couple-connect-top input {
  margin-top: 10px;
  width: 320px;
  height: 30px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #909090;
  margin-bottom: 20px;
  font-size: 18px;
}
.couple-connect-input:focus {
  outline: none;
  box-shadow: none;
}
