.review-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  min-height: 430px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 30px 0px 6px 0px;
}

.pagination button {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background: #eee;
  cursor: pointer;
}

.pagination button.active {
  background: #4b7bec;
  color: white;
  font-weight: bold;
}
