.saved-place-container {
  width: 100%;
}

.saved-place-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  min-height: 430px;
  padding: 10px 0;
}

.saved-place-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 10px;
  background: white;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  padding-bottom: 10px;
}

.saved-place-card img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.saved-place-info {
  padding: 10px;
}

.saved-place-info h3 {
  font-size: 16px;
  margin-bottom: 4px;
}

.saved-place-info p {
  font-size: 14px;
  color: #555;
}

.saved-place-info .tag {
  display: inline-block;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
  background: #eee;
}
.pagination {
  margin-top: auto; /* ⭐ 항상 아래로 밀림 */
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
