.District_container {
  display: flex;
  justify-content: center;

  padding: 50px 0px;
}

.District_grid {
  row-gap: 50px;
  width: 100%;
  max-width: 750px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px; /* 가로 간격 */
  justify-items: center; /* 카드 가운데 정렬 */
}
